# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

.vscode/
/.vs
/x64
/csc2710-.6E1C16A7/x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/libs

output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
__pypackages__/

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Test and coverage
.coverage
.coverage.*
.cache
nosetests.xml
testresults/

# Pytest
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS system files
.DS_Store

# Temporary files
*.tmp
*.log
